:root{
  --green:#3f5f3f;
  --bg:#efe6d6;
}

body{
  margin:0;
  font-family:'Segoe UI',sans-serif;
  background:var(--bg);
  max-width:420px;
  margin:auto;
}

.container{
  padding:15px;
}

/* TITLE */
.title{
  text-align:center;
  color:var(--green);
  font-weight:900;
}

.subtitle{
  text-align:center;
  color:#666;
  margin-bottom:15px;
}

/* CARD */
.card{
  background:#f3f1eb;
  padding:15px;
  border-radius:18px;
  margin-bottom:12px;
  box-shadow:0 8px 20px rgba(0,0,0,0.1);
}

.card.small{
  font-size:13px;
  color:#666;
}

/* TICKET */
#ticketBox div{
  background:#fff;
  padding:12px;
  border-radius:12px;
  margin-bottom:8px;
  display:flex;
  justify-content:space-between;
}

/* TOTAL */
.total{
  margin-top:10px;
  padding:12px;
  text-align:center;
  font-size:20px;
  font-weight:900;
  background:#ddd;
  border-radius:20px;
}

/* USER INFO */
.info{
  background:#fff;
  padding:12px;
  border-radius:12px;
  margin-bottom:8px;
}

/* BUTTON */
.btn-group{
  display:flex;
  gap:10px;
  margin-top:15px;
}

.btn-group button{
  flex:1;
  padding:14px;
  border:none;
  border-radius:20px;
  font-weight:900;
}

.btn-group button:first-child{
  background:#ccc;
}

.btn-group button:last-child{
  background:var(--green);
  color:#fff;
}