:root{
  --primary:#5f259f;
  --bg:#f4f6fb;
}

body{
  margin:0;
  font-family:'Segoe UI',sans-serif;
  background:var(--bg);
  max-width:420px;
  margin:auto;
}

.container{
  padding:15px;
}

/* SUCCESS BOX */
.success-box{
  text-align:center;
  margin-bottom:15px;
}

.success-box h2{
  color:green;
}

.success-box p{
  color:#666;
}

/* TICKET */
.ticket{
  background:#fff;
  border-radius:20px;
  padding:20px;
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

/* HEADER */
.ticket-header{
  text-align:center;
  font-weight:900;
  color:var(--primary);
  font-size:18px;
}

.ticket-sub{
  text-align:center;
  font-size:13px;
  color:#666;
  margin-bottom:10px;
}

/* ROW */
.row{
  display:flex;
  justify-content:space-between;
  margin:8px 0;
}

/* DETAILS */
#details div{
  display:flex;
  justify-content:space-between;
  padding:8px;
  background:#f7f7f7;
  border-radius:10px;
  margin-bottom:6px;
}

/* TOTAL */
.total{
  text-align:center;
  font-size:22px;
  font-weight:900;
  margin:15px 0;
  color:var(--primary);
}

/* BUTTON */
.btn-group{
  display:flex;
  gap:10px;
  margin-top:15px;
}

.btn-group button{
  flex:1;
  padding:14px;
  border:none;
  border-radius:25px;
  font-weight:900;
}

.btn-group button:first-child{
  background:#ccc;
}

.btn-group button:last-child{
  background:linear-gradient(135deg,#5f259f,#1a73e8);
  color:#fff;
}