body{
  margin:0;
  font-family:'Segoe UI',sans-serif;
  background:#efe6d6;
}

/* HEADER */
.header{
  background:#3f5f3f;
  color:#fff;
  text-align:center;
  padding:15px;
  font-weight:bold;
}

/* CONTAINER */
.container{
  padding:15px;
}

/* TITLE */
h1{
  text-align:center;
  color:#2e4a2e;
}

/* IMAGE */
.image-box img{
  width:100%;
  border-radius:15px;
  margin:15px 0;
}

/* DETAILS CARD */
.details{
  background:rgba(255,255,255,0.8);
  padding:15px;
  border-radius:15px;
  box-shadow:0 5px 20px rgba(0,0,0,0.1);
  line-height:1.6;
}

/* COMING SOON */
.coming{
  margin-top:20px;
  text-align:center;
  padding:15px;
  background:#3f5f3f;
  color:#fff;
  border-radius:20px;
  font-weight:bold;
}