/* BODY */
body{
  margin:0;
  font-family:'Segoe UI',sans-serif;
  background:#efe6d6;
}

/* HEADER */
.header{
  background:#3f5f3f;
  color:#efe6d6;
  text-align:center;
  padding:15px;
  font-weight:bold;
}

/* HERO */
.hero{
  background:url("../../images/bgcard/footer.jpg") center/cover;
  padding:40px 20px;
  color:#efe6d6;
  text-align:left;
}

.hero h1{
  font-size:30px;
}

/* FORM CONTAINER */
.form-container{
  padding:20px;
}

/* FORM BOX */
.form-box{
  background:#efe6d6;
  padding:20px;
  border-radius:15px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

/* LABEL */
.form-box label{
  display:block;
  margin-top:10px;
  font-weight:bold;
}

/* INPUT */
.form-box input,
.form-box select,
.form-box textarea{
  width:100%;
  padding:10px;
  margin-top:5px;
  border-radius:8px;
  border:1px solid #ccc;
}

/* TEXTAREA */
textarea{
  height:80px;
}

/* CAPTCHA */
.captcha-box{
  display:flex;
  gap:10px;
  margin-top:10px;
}

.code{
  background:#ddd;
  padding:10px;
  font-weight:bold;
}

/* BUTTON */
.submit-btn{
  margin-top:15px;
  width:100%;
  padding:12px;
  background:#a07c2d;
  color:#efe6d6;
  border:none;
  border-radius:10px;
  font-weight:bold;
}

/* INFO BOX */
.info-box{
  margin-top:20px;
  background:#3f5f3f;
  color:#efe6d6;
  padding:15px;
  border-radius:15px;
}

.info-box h3{
  margin-bottom:10px;
}

.file-upload{
  width:100%;
  padding:10px;
  margin-top:5px;
  border-radius:8px;
  border:1px solid #ccc;
  background:#efe6d6;
}