/* BODY */
body{
  margin:0;
  font-family:'Segoe UI',sans-serif;
  background:#efe6d6;
}

/* HEADER */
.header{
  background:#3f5f3f;
  color:#efe6d6;
  text-align:center;
  padding:15px;
  font-weight:900;
}

/* TITLE TOP */
.title{
  text-align:center;
  margin-top:15px;
  color:#2e4a2e;
  font-size:26px;
  font-weight:900;
}

/* IMAGE */
.image-box{
  padding:10px 15px;
}

.image-box img{
  width:100%;
  border-radius:15px;
  box-shadow:0 8px 20px rgba(0,0,0,0.2);
}

/* MENU TITLE */
.main-title{
  text-align:center;
  margin:20px 0;
  color:#2e4a2e;
}

/* CONTAINER */
.menu-container{
  padding:15px;
}

/* SECTION */
.menu-section{
  margin-bottom:25px;
}

.menu-section h3{
  margin-bottom:10px;
  color:#3f5f3f;
}

/* ITEM */
.menu-item{
  background:#efe6d6;
  border-radius:12px;
  padding:12px 15px;
  margin-bottom:10px;

  display:flex;
  justify-content:space-between;

  box-shadow:0 5px 12px rgba(0,0,0,0.1);
  transition:0.3s;
}

/* HOVER */
.menu-item:hover{
  transform:scale(1.03);
}

/* COMING SOON */
.coming{
  margin:20px;
  padding:15px;
  text-align:center;
  background:#3f5f3f;
  color:#efe6d6;
  border-radius:20px;
  font-weight:900;
  box-shadow:0 8px 20px rgba(0,0,0,0.2);
}

/* BUTTON (future use) */
.book-btn{
  display:inline-block;
  padding:10px 15px;
  background:#3f5f3f;
  color:#efe6d6;
  border-radius:8px;
  text-decoration:none;
  font-weight:bold;
}